*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    background-color: rgb(177, 226, 43);
    margin-left: 10px;
    font-size: 30px;
}
