*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    background-color: blueviolet;
    margin-left: 10px;
}

h1, h6{
    color: white;
}

p{
    font-weight: bold;
}